.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Dashboard CSS */
body {
  background: #538cb5;
}

.app-container {
  background: #fff;
  max-width: 90%; 
  margin: 20px auto;
  padding: 0px 40px 40px 40px;
}

.emptybox {
  width: 150px;
}

h3 {
  color: #538cb5;
}

input {
  margin: 20px 0;
}

body {
  padding: 0 2em;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #444;
  background: #eee;
}

h1 {
  font-weight: normal;
  letter-spacing: -1px;
  color: #34495E;
}

.div {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
}

.y.axis {
  font: 10px sans-serif;
}

.x.axis path {
  display: yes;
}
/* 
label {
  position: absolute;
  top: 10px;
  right: 250px;
} */

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.display-container{
  display: flex;
  justify-content: space-around;
}

.nav-bar{
  display: flex;
  background-color: rgba(16, 38, 112, 0.705);
  color: #ddd;
  height: 40px;
  margin-bottom: -35px;
}

.main-nav{
  font-weight: 300;
  font-size: 25px;
  padding-left: 10px;
  padding-top: 5px;
}

.nav-item{
  font-weight: 600;
  text-align: center;
  padding-left: 20px;
  padding-top: 10px;
}

.nav-item:hover{
  cursor: pointer;
}

.heading-main{
  padding-top: 25px;
  font-size: 35px;
}

td, th {
  border: 1px solid #999;
  padding: 0.5rem;
}

th {
  background: lightblue;
  border-color: white;
}

.tooltip {
  padding: 3px;
  border: 2px solid;
  border-radius: 4px;
 background-color: #fff;
 color:red;
  opacity: 0.9;
  justify-content: center;
  align-items: center;
}

.legends{
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 300px;
}

.lgnd-payable{
  color: #006400;
  padding-top: 10px;
  padding-bottom: 50px;
  display: block;
  float: left;
}

.icon-payable{
  height: 15px;
  width: 15px;
  margin-top: 15px;
  background-color: #006400;  
  display: block;
  float: left;
}

.lgnd-receivable{
  color: #32CD32;
  padding-top: 10px;
  padding-bottom: 50px;

}

.icon-receivable{
  height: 15px;
  width: 15px;
  margin-top: 15px;
  background-color: #32CD32;  
  display: block;
  float: left;
}

.loginPanel{
  height: 500px;
  width: 350px;
  background-color: blue;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 10px 10px #999;
  border-radius: 10px;
  align-items: center;
}

.loginLabel{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #61dafb
}

.login-container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.div-login-input {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.inp-username{
  border-radius: 5px;
  padding: 5px 5px;
  margin-left: 10px;
}

.btn-login{
  width: 100px;
  border-radius: 5px;
  background-color: ghostwhite;
  font-size: 20px;
  margin-top: 40px;
}
  
  